body {
    padding: 0px;
    margin: 0px;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
    background-color: darkorange;
    list-style: none;
    font-family: Tahoma;
    font-size: 17px;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    background-color: darkorange;
    color: white;
    text-decoration: none;
    padding: 7px 40px;
    float: right;
}

#menu ul li a:hover {
    background-color: chocolate;
    color: gray;
}

h2 {
    color: chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    padding: 20px 50px 10px 20px;
}

figure {
    float: center;
}

.topo {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
    background-color: darkorange;
    list-style: none;
    font-family: Tahoma;
    font-size: 17px;
}

h1.titulo {
    padding: 10px;
    margin: 0px;
    color: white;
    text-align: center;
}

table,
td,
th {
    width: 60%;
    background-color: cornsilk;
    margin: auto;
    color: rgb(88, 88, 88);
    border: 2px solid rgb(95, 95, 95);
    font-family: Tahoma;
    text-align: center;
}

th {
    text-align: auto;
}

.container {
    padding: 20px;
    margin: 20px;
    float: left;
    width: 100%;
    background-color: darkorange;
    list-style: none;
    font-family: Tahoma;
    font-size: 20 px;
    text-align: 20px 20px;
    color: honeydew;
}

form {
    font-size: 16px;
    background: #CCC;
    max-width: 500px;
    margin: auto;
    padding: 0 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    float: center;
    color: rgb(48, 48, 48);
    text-align: center;
    font-size: 30px;
}

input,
textarea {
    width: 474px;
    padding: 10px;
}

.enviar input {
    background-color: #069;
    height: 40px;
    width: 150px;
    font-family: arial;
    border: 1px solid;
    color: #FFF;
}

.enviar input:hover {
    background: #078;
}

.funcionarios {
    list-style-type: none;
    background: rgb(247, 140, 0);
    padding: 20px;
    margin: 0px 300px 0px 300px;
}

.funcionarios li {
    background: #fceec0;
    margin: 10px;
    padding: 10px;
    font-family: Tahoma;
    font-size: 20 px;
    color: rgb(107, 52, 0);
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(197, 77, 33);
    padding: 10px 200px 10px 300px;
    margin: 10px;
}